.message-box {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0 0 4%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(32, 32, 116, 0.699);
  color: wheat;
}

.message-box:hover {
  background-color: rgba(14, 14, 90, 0.699);
}