.login-form {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 5vh;
}

.login-form a {
  color: blue;
  margin-top: 2%;
}